{% extends 'base.html' %}

{% block title %}USERS{% endblock %}

{% block content %}

    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <img src={{user.image_url}} alt="No picture :(">
    <form action="/{{user.id}}/edit-user-form">
        <button>Edit</button>
    </form>
    <form action="/{{user.id}}/delete-user" method="POST">
        <button>Delete</button>
    </form>

    <h2>Posts</h2>
    <ul>
    {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
    {% endfor %}  
    </ul>
    <form action="/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>

{% endblock %}