{% extends 'base.html' %}

{% block title %}POSTS{% endblock %}

{% block content %}

    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit-post" method="POST">
        <p>Title     <input name="title" placeholder={{post.title}}></p>
        <p>Content  <input name="content" placeholder={{post.content}}></p>
   
    <div class="form-check">
    {% for tag in tags %}
    <div>
      <input class="form-check-input"
             type="checkbox"
             value="{{ tag.id }}"
             id="tag_{{ tag.id }}"
             name="tags">
      <label class="form-check-label" for="tag_{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}
    </div>

        <button>Save</button>
    </form>


{% endblock %}